<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Para o meu Amor</title>
    </head>
    <body style="text-align: center; font-family: Arial; background-color: #ffe4e1;">
        <h1 style="color: #ff69b4;">Para o meu amor 💖</h1>
        <p>Criei esse presente pra você</p>
        <img src="{{ url_for('static', filename='images/fotopraia.jpg') }}" alt="Imagem romântica" style="width: 300px; height: auto; border-radius: 15px;">
        <p>Desculpa a demora</p>
        <a href="/surpresa" style="color: #ff1493; font-size: 20px;">Clique aqui para uma surpresa</a>
    </body>
</html>
